*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.nav{
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link  {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    /* border: 2px solid beige; */
    height: 60%;
    width: 50%;

}
 .link a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 25px;
    gap: 50px;

 }

a:hover{
    /* color:rgb(188, 28, 28); */
    transition: 0.5s;
    transform: scale(1.1);
    color: lightyellow;
   
 }

 .logo{
    /* border: 2px solid whitesmoke; */
    width: 20%;
    height: 100%;
    color: whitesmoke;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.slika img{
    height: 100px;
    width: 170px;
    border: 1px solid whitesmoke;
    /* border-radius: 50%; */
 }

 .slika img:hover{
    border: 2px solid lightyellow;
    transition: 0.5s;
    border-radius: 5px;
 }

 .main{
    min-height: 90vh;
    width: 100%;
    background-color: rgb(34, 33, 33);
    display: flex;
    color: whitesmoke;
 }

.veci{
    height: 90vh;
    width: 100%;
    /* border: 2px solid beige; */
    display: flex;
    color: aliceblue;

 }

 .manji{
    height: 80%;
    width: 70%;
    /* border: 3px solid green; */
    color: aliceblue;
 }
 .manji1{
    height: 80%;
    width: 30%;
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
    
 }

 .icon{
    /* border: 2px solid red; */
    height: 80%;
    width: 20%; 
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: end;
   
 }
 .icon1{
    /* border: 2px solid red; */
    height: 80%;
    width: 40%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap:30px;
   
    
    
   
 }
 .icon1 p{
    color: aliceblue;
    font-size: 20px;
    
   
 }
 .numb {
    /* border: 3px solid wheat; */
    width: 90%;
    height: 10%;
    /* margin-top: 144%; */
    padding-bottom: 30px;
 }



 .icon img{
    height: 40px;
    width: 40px;
   
 }
 .icon img:hover{
    transform: scale(1.2);
    /* background-color: black; */
    transition: 0.5s;
 }

 .jedan{
   height: 100%;
    width: 100%;

 }

 .jedan img{
   height: 100%;
   width: 100%;
   
 }

 .jedan img:hover{
   box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.5);
   transition: 0.5s;
   /* border-left: 2px solid rgb(188, 28, 28);
   border-bottom: 2px solid rgb(188, 28, 28); */
 }

